<div class="form">
  <ng-content select="div"></ng-content>
  <form [formGroup]="form" (ngSubmit)="submit()">
    <div *ngFor="let prop of formProps">
      <div [ngSwitch]="prop.type">
        <div class="form-container" [ngClass]="prop.className" *ngSwitchCase="'text'">
          <input type="text" formControlName="{{prop.key}}" [placeholder]="prop.placeholder">
        </div>
        <!-- end of .form-container  -->
        <div class="form-container" [ngClass]="prop.className" *ngSwitchCase="'number'">
          <input type="number" formControlName="{{prop.key}}" [value]="prop.value">
        </div>
        <!-- end of .form-container  -->
        <div class="form-container" [ngClass]="prop.className" *ngSwitchCase="'text-area'">
          <textarea formControlName="{{prop.key}}"></textarea>
        </div>
        <!-- end of .form-container  -->
        <div class="form-container" [ngClass]="prop.className" *ngSwitchCase="'select'">
          <select [formControlName]="prop.key">
            <option *ngFor="let option of prop.options" [value]="option.value">
              {{ option.label }}
            </option>
          </select>
        </div>
        <!-- end of .form-container  -->
      </div>
      <!-- end of ngSwitch  -->
    </div>
    <!-- end of formProps loop  -->
    <ng-content select="button"></ng-content>
  </form>
  <!-- end of form  -->
</div>
<!-- end of .form  -->